/* Group 1 */

position: absolute;
width: 5800px;
height: 17824px;



/* Frame 4 */

position: absolute;
width: 5800px;
height: 17824px;

background: #323946;


/* Home */

position: absolute;
width: 268px;
height: 215px;
left: 939px;
top: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* About */

position: absolute;
width: 273px;
height: 180px;
left: 1306px;
top: 33px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* skills */

position: absolute;
width: 221px;
height: 139px;
left: 1678px;
top: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* services */

position: absolute;
width: 380px;
height: 194px;
left: 2006px;
top: 26px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* contact */

position: absolute;
width: 421px;
height: 237px;
left: 2904px;
top: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* Ellipse 4 */

position: absolute;
width: 1329px;
height: 1455px;
left: 3580px;
top: 273px;

background: url(ChatGPT Image Sep 14, 2026, 04_12_07 PM);


/* Email */

position: absolute;
width: 317px;
height: 184px;
left: 393px;
top: 789px;

background: url(.png);


/* LinkedIn */

position: absolute;
width: 179px;
height: 235px;
left: 797px;
top: 762px;

background: url(.png);


/* HI im Yousef Hussein */

position: absolute;
width: 956px;
height: 116px;
left: 308px;
top: 420px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* MDRLEAD MLA */

position: absolute;
width: 349px;
height: 58px;
left: 207px;
top: 338px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
/* identical to box height */

color: #1950D9;



/* i,m prfessional web developer with strong skills in html Css, javascript Tailwind jquery etc. ihave working in this pield almost1yeas and all project are complited success. */

position: absolute;
width: 1272px;
height: 504px;
left: 117px;
top: 573px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #FFFFFF;



/* Facebook */

position: absolute;
width: 308px;
height: 200px;
left: 53px;
top: 773px;

background: url(.png);


/* GitHub */

position: absolute;
width: 192px;
height: 245px;
left: 1114px;
top: 773px;

background: url(.png);


/* Frame 5 */

position: absolute;
width: 615px;
height: 98px;
left: 19px;
top: 1150px;

background: linear-gradient(0deg, #00EEFF, #00EEFF), #FFFFFF;
border-radius: 80px;


/* Download cv */

position: absolute;
width: 664px;
height: 96px;
left: 85px;
top: 2px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #000000;



/* Frame 6 */

position: absolute;
width: 625px;
height: 96px;
left: 818px;
top: 1140px;

background: linear-gradient(0deg, #00EEFF, #00EEFF), #FFFFFF;
border-radius: 80px;


/* portfolio */

position: absolute;
width: 383px;
height: 171px;
left: 142px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #000000;



/* Frame 7 */

position: absolute;
width: 5800px;
height: 2166px;
left: 4px;
top: 2123px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #000000, #000000), #1F242D;


/* Education */

position: absolute;
width: 603px;
height: 266px;
left: 2057px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #2DBF16;



/* My academic journey and achievements */

position: absolute;
width: 2424px;
height: 155px;
left: 1947px;
top: 167px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #8A3F19;



/* BSC in CSE */

position: absolute;
width: 344px;
height: 77px;
left: 2104px;
top: 327px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #B48C28;



/* Uttara University,Dhaka */

position: absolute;
width: 718px;
height: 93px;
left: 1952px;
top: 404px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #DDBE25;



/* Bchellor of science in computer science and Engineering(CSE). */

position: absolute;
width: 1899px;
height: 145px;
left: 2033px;
top: 497px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #FFFFFF;



/* secondary school Computrer Technology */

position: absolute;
width: 2490px;
height: 154px;
left: 1914px;
top: 965px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;



/* Frame 8 */

position: absolute;
width: 10px;
height: 795px;
left: 4481px;
top: 53px;

background: #223CBD;


/* Frame 9 */

position: absolute;
width: 10px;
height: 776px;
left: 4486px;
top: 1042px;

background: #1424B5;


/* Session */

position: absolute;
width: 354px;
height: 116px;
left: 4694px;
top: 188px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* 2024-25 */

position: absolute;
width: 394px;
height: 93px;
left: 4736px;
top: 296px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* Result */

position: absolute;
width: 281px;
height: 96px;
left: 4803px;
top: 497px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* Running (1st Semester) */

position: absolute;
width: 702px;
height: 76px;
left: 4542px;
top: 593px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #FFFFFF;



/* Adaresha High school,Dhaka */

position: absolute;
width: 1304px;
height: 391px;
left: 2008px;
top: 1152px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #CF2A2A;



/* Secondary School CertIficate (SSC) */

position: absolute;
width: 1622px;
height: 239px;
left: 2069px;
top: 1362px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* Session */

position: absolute;
width: 354px;
height: 116px;
left: 4638px;
top: 1124px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* 2016-20 */

position: absolute;
width: 382px;
height: 116px;
left: 4624px;
top: 1263px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* Result */

position: absolute;
width: 281px;
height: 116px;
left: 4671px;
top: 1553px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* GPA.4out of 5.00 */

position: absolute;
width: 772px;
height: 140px;
left: 4507px;
top: 1701px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* Frame 10 */

position: absolute;
width: 1493px;
height: 2166px;
left: 0px;
top: 0px;

background: #00EEFF;


/* MDRIEADMIA */

position: absolute;
width: 811px;
height: 155px;
left: 224px;
top: 484px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #2AAB16;



/* Frontend Developer */

position: absolute;
width: 898px;
height: 116px;
left: 191px;
top: 822px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #000000;



/* Backend Developer */

position: absolute;
width: 880px;
height: 116px;
left: 225px;
top: 1224px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #000000;



/* Graphic Desihner */

position: absolute;
width: 783px;
height: 116px;
left: 192px;
top: 1506px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #000000;



/* Ellipse 5 */

position: absolute;
width: 695px;
height: 829px;
left: 344px;
top: 1598px;

background: url(ChatGPT Image Sep 14, 2026, 04_12_07 PM);


/* My skills */

position: absolute;
width: 516px;
height: 155px;
left: 2311px;
top: 3959px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #FFFFFF;



/* Frame 11 */

position: absolute;
width: 1784px;
height: 66px;
left: 876px;
top: 4483px;

background: #00EEFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Frame 12 */

position: absolute;
width: 1310px;
height: 26px;
left: -318px;
top: 66px;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Frame 12 */

position: absolute;
width: 1784px;
height: 58px;
left: 876px;
top: 4918px;

background: #00EEFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Frame 12 */

position: absolute;
width: 1310px;
height: 26px;
left: -318px;
top: 58px;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Frame 13 */

position: absolute;
width: 1784px;
height: 55px;
left: 886px;
top: 5411px;

background: #00EEFF;


/* Frame 12 */

position: absolute;
width: 1310px;
height: 26px;
left: -318px;
top: -26px;

background: #FFFFFF;


/* Frame 14 */

position: absolute;
width: 1784px;
height: 75px;
left: 886px;
top: 5979px;

background: #00EEFF;


/* Frame 12 */

position: absolute;
width: 1310px;
height: 26px;
left: -318px;
top: -26px;

background: #FFFFFF;


/* html-5 */

position: absolute;
width: 489px;
height: 261px;
left: 920px;
top: 4186px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #FFFFFF;



/* 50% */

position: absolute;
width: 262px;
height: 154px;
left: 3015px;
top: 4416px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #FFFFFF;



/* CSS */

position: absolute;
width: 257px;
height: 218px;
left: 1084px;
top: 4680px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #FFFFFF;



/* 60% */

position: absolute;
width: 264px;
height: 227px;
left: 2937px;
top: 4867px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #FFFFFF;



/* Figma */

position: absolute;
width: 367px;
height: 257px;
left: 1186px;
top: 5159px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #FFFFFF;



/* 80% */

position: absolute;
width: 377px;
height: 154px;
left: 2968px;
top: 5380px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #FFFFFF;



/* javascript */

position: absolute;
width: 583px;
height: 204px;
left: 931px;
top: 5693px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #FFFFFF;



/* 80% */

position: absolute;
width: 330px;
height: 304px;
left: 3015px;
top: 5897px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #FFFFFF;



/* GitHub */

position: absolute;
width: 346px;
height: 380px;
left: 492px;
top: 5208px;

background: url(.png);


/* CSS3 */

position: absolute;
width: 379px;
height: 345px;
left: 440px;
top: 4749px;

background: url(.png);


/* JavaScript */

position: absolute;
width: 374px;
height: 479px;
left: 478px;
top: 5739px;

background: url(.png);


/* Html 5 */

position: absolute;
width: 309px;
height: 454px;
left: 485px;
top: 4256px;

background: url(.png);


/* Frame 15 */

position: absolute;
width: 5753px;
height: 5831px;
left: 22px;
top: 6549px;

background: #000000;


/* Web Design */

position: absolute;
width: 722px;
height: 213px;
left: 834px;
top: 583px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;



/* iam professional web Developer. i have desiged more than 20 web template for my client.you can hire mefordesign your personal busiess ot other websitetemplate. you can trustme */

position: absolute;
width: 2435px;
height: 580px;
left: 338px;
top: 956px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* web Development */

position: absolute;
width: 1092px;
height: 325px;
left: 3623px;
top: 527px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;



/* iam professional web Developer. ihave designed more than 20 web tempiate for my client,busiess oroher website template. yo ucan trust me . */

position: absolute;
width: 2279px;
height: 620px;
left: 3029px;
top: 832px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #FFFFFF;



/* Frame 16 */

position: absolute;
width: 2066px;
height: 314px;
left: 3294px;
top: 1584px;

background: #00EEFF;
border-radius: 80px 0px 80px 80px;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Hire Me */

position: absolute;
width: 470px;
height: 154px;
left: 720px;
top: 80px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #1528CE;



/* Frame 17 */

position: absolute;
width: 2006px;
height: 234px;
left: 365px;
top: 1624px;

background: #FFFFFF;
border-radius: 80px;


/* Hire Me */

position: absolute;
width: 470px;
height: 155px;
left: 666px;
top: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #0F08DD;



/* Graphic Design */

position: absolute;
width: 923px;
height: 322px;
left: 2218px;
top: 2183px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #00EEFF;



/* iam profession web designer. i have esigned mor than 20 web template for my client . you can thier me for design your personal you can trustme */

position: absolute;
width: 3248px;
height: 544px;
left: 1501px;
top: 2428px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #FFFFFF;



/* Frame 19 */

position: absolute;
width: 2573px;
height: 276px;
left: 1453px;
top: 2998px;

background: #FFFFFF;
border-radius: 80px 80px 80px 0px;


/* Frame 18 */

position: absolute;
width: 1087px;
height: 107px;
left: 85px;
top: 107px;



/* Hire My */

position: absolute;
width: 513px;
height: 260px;
left: 915px;
top: 31px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #160FE5;



/* My Servies */

position: absolute;
width: 670px;
height: 155px;
left: 2067px;
top: 255px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #0F08DD;



/* My portfolio */

position: absolute;
width: 731px;
height: 155px;
left: 2009px;
top: 3416px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #0F08DD;



/* image 4 */

position: absolute;
width: 1465px;
height: 818px;
left: 1837px;
top: 3597px;

background: url(image);


/* image 5 */

position: absolute;
width: 1512px;
height: 844px;
left: 3351px;
top: 3571px;

background: url(image);


/* image 3 */

position: absolute;
width: 1613px;
height: 901px;
left: 27px;
top: 3571px;

background: url(image);


/* image 6 */

position: absolute;
width: 1932px;
height: 1079px;
left: 27px;
top: 4700px;

background: url(image);


/* image 7 */

position: absolute;
width: 1964px;
height: 1096px;
left: 2009px;
top: 4713px;

background: url(image);


/* image 8 */

position: absolute;
width: 1859px;
height: 1037px;
left: 3528px;
top: 4794px;

background: url(image);


/* Windows 10 Personalization */

position: absolute;
width: 256px;
height: 365px;
left: 1031px;
top: 227px;

background: url(.png);


/* Web Design */

position: absolute;
width: 224px;
height: 337px;
left: 4057px;
top: 164px;

background: url(.png);


/* Contact me */

position: absolute;
width: 703px;
height: 155px;
left: 2766px;
top: 13607px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #00EEFF;



/* R L E A D */

position: absolute;
width: 553px;
height: 155px;
left: 641px;
top: 13267px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #FFFFFF;



/* A LL T E C H S O L U T I T I O N */

position: absolute;
width: 963px;
height: 77px;
left: 511px;
top: 13476px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #FFFFFF;



/* Iam professional web designer. i have designed more than 20 web template for my client.you can hire me for design your personal,business or other website template you can trust me i complied your work with your full satisficction */

position: absolute;
width: 2038px;
height: 1058px;
left: 133px;
top: 13689px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #FFFFFF;



/* Frame 22 */

position: absolute;
width: 1149px;
height: 237px;
left: 2832px;
top: 14081px;

background: #232832;
border-radius: 80px;


/* First name */

position: absolute;
width: 636px;
height: 155px;
left: 48px;
top: 55px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #0F08DD;



/* Frame 21 */

position: absolute;
width: 2362px;
height: 318px;
left: 2832px;
top: 14747px;

background: #232832;
border-radius: 80px;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Email */

position: absolute;
width: 321px;
height: 155px;
left: 72px;
top: 81px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #1811E3;



/* Frame 25 */

position: absolute;
width: 1109px;
height: 237px;
left: 4085px;
top: 14081px;

background: #232832;
border-radius: 80px;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Last name */

position: absolute;
width: 627px;
height: 154px;
left: 0px;
top: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #2F20D8;



/* Frame 23 */

position: absolute;
width: 1149px;
height: 266px;
left: 2832px;
top: 14406px;

background: rgba(31, 36, 45, 0.85);
border-radius: 80px;


/* Phone */

position: absolute;
width: 383px;
height: 155px;
left: 57px;
top: 55px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #242AD5;



/* Frame 26 */

position: absolute;
width: 1101px;
height: 266px;
left: 4093px;
top: 14406px;

background: #1F242D;
border-radius: 80px;


/* Subject */

position: absolute;
width: 459px;
height: 232px;
left: 141px;
top: 66px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #1E0EC6;



/* Frame 27 */

position: absolute;
width: 2362px;
height: 485px;
left: 2889px;
top: 15204px;

background: #1F242D;
border-radius: 80px;


/* Message */

position: absolute;
width: 547px;
height: 237px;
left: 90px;
top: 68px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #0D21D5;



/* Phone */

position: absolute;
width: 435px;
height: 239px;
left: 392px;
top: 15272px;

background: url(.png);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Frame 28 */

position: absolute;
width: 2362px;
height: 271px;
left: 2832px;
top: 15973px;

background: #1F242D;
border-radius: 80px;


/* Submit */

position: absolute;
width: 424px;
height: 213px;
left: 1041px;
top: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;

color: #110ACC;



/* Frame 29 */

position: absolute;
width: 5800px;
height: 279px;
left: 0px;
top: 17545px;

background: #1F242D;


/* Copywrite 2024 ALL Rights reserved B Y RIEAD. */

position: absolute;
width: 2897px;
height: 155px;
left: 1129px;
top: 62px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 155px;
/* identical to box height */

color: #FFFFFF;



/* Facebook Circled */

position: absolute;
width: 266px;
height: 229px;
left: 2340px;
top: 15272px;

background: url(.png);


/* Letter */

position: absolute;
width: 240px;
height: 270px;
left: 993px;
top: 15256px;

background: url(.png);


/* Code */

position: absolute;
width: 337px;
height: 373px;
left: 2592px;
top: 8367px;

background: url(.png);


/* Right Button */

position: absolute;
width: 308px;
height: 345px;
left: 302px;
top: 13131px;

background: url(.png);


/* Right Button */

position: absolute;
width: 308px;
height: 345px;
left: 302px;
top: 13131px;

background: url(.png);


/* Bolg */

position: absolute;
width: 268px;
height: 220px;
left: 3312px;
top: 26px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* R L E A D */

position: absolute;
width: 415px;
height: 116px;
left: 382px;
top: 85px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* Right Button */

position: absolute;
width: 308px;
height: 210px;
left: 53px;
top: 36px;

background: url(.png);


/* Log in */

position: absolute;
width: 276px;
height: 110px;
left: 5523px;
top: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* sing up */

position: absolute;
width: 329px;
height: 116px;
left: 3603px;
top: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* Web Design */

position: absolute;
width: 542px;
height: 480px;
left: 4043px;
top: 56px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* web Development */

position: absolute;
width: 827px;
height: 327px;
left: 4634px;
top: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* Graphic Design */

position: absolute;
width: 693px;
height: 163px;
left: 5048px;
top: 252px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* portfolio */

position: absolute;
width: 383px;
height: 116px;
left: 2427px;
top: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;



/* LinkedIn Circled */

position: absolute;
width: 90px;
height: 90px;
left: 2855px;
top: 8867px;

background: url(.png);


/* LinkedIn Circled */

position: absolute;
width: 90px;
height: 90px;
left: 2855px;
top: 8867px;

background: url(.png);


/* LinkedIn 2 */

position: absolute;
width: 90px;
height: 90px;
left: 2965px;
top: 8867px;

background: url(.png);


/* LinkedIn */

position: absolute;
width: 90px;
height: 90px;
left: 3075px;
top: 8867px;

background: url(.png);


/* LinkedIn */

position: absolute;
width: 90px;
height: 90px;
left: 3185px;
top: 8867px;

background: url(.png);


/* Location */

position: absolute;
width: 270px;
height: 237px;
left: 1865px;
top: 15272px;

background: url(.png);
